@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body{
  font-family: 'Bodoni Moda', serif; 
}
.container {
  width: 100%;
  padding: 0 10%;
  margin-top: 4%;
}